
/* планшет 768+ */
@media screen and (min-width: 768px) {
    .nav-list {
      display: flex;
    }
  
    .contacts {
      display: flex;
    }
  
    .mobile-menu-open {
      display: none;
    }
    .nav {
      display: flex;
      align-items: center;
    }
    .nav-list-mobile {
      display: flex;
      align-items: center;
    }
    .nav-link-mobile {
      color: #4d5ae5;
      font-weight: 600;
      line-height: 1.33;
      letter-spacing: 0.02em;
  
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-link-mobile:hover,
    .nav-link-mobile:focus,
    .contacts-link:hover,
    .contacts-link:focus {
      color: var(--link-hover-color);
    }
    .nav-list-mobile {
      display: flex;
      margin: 0;
      padding: 0;
      margin-left: 123px;
    }
    .nav-list-mobile .nav-link-mobile {
      display: block;
      padding-top: 24px;
      padding-bottom: 24px;
    }
    .nav-link-mobile.no-decoration {
      position: relative;
    }
    .no-decoration {
      text-decoration: none;
    }
  
    .nav-link-mobile.no-decoration:hover::after {
      opacity: 1;
    }
    .nav-link-mobile.no-decoration::after {
      content: '';
  
      display: block;
      width: 100%;
      height: 4px;
      background-color: #4d5ae5;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
  
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-item-mobile {
      color: #2e2f42;
      font-weight: 600;
      line-height: 1.33;
      letter-spacing: 0.02em;
    }
  
    .nav-item-mobile:not(:last-child) {
      margin-right: 40px;
    }




    


  }
  /* декстопні стилі */
  /* @media screen and (min-width: 768px) {

  } */

  /* MOBILE MENU */
/* 0-767 */

  @media screen and (max-width: 767px) {

    .nav-list {
      display: none;
    }
    
    .contacts {
      display: none;
    }
    .mobile-menu {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 1000;
      min-height: 796px;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 1);
  
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
  
      transition: opacity 250ms linear, visibility 250ms linear;
    }
  
    .mobile-menu.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  
    .mobile-menu-conteiner {
      position: relative;
      padding-left: 40px;
      padding-top: 80px;
      padding-bottom: 40px;
    }
  
    .mobile-menu-close-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
    }
    
  }
/* =========================================================== */

/* 0-428 */
  @media screen and (min-width: 428px) {
    .conteiner {
      width: 396px;
      margin-left: auto;
      margin-right: auto;
    }

   

    
  }


  @media screen and (min-width: 768px) {
    .conteiner {
      width: 736px;
      margin-left: auto;
      margin-right: auto;
    }
    .mobile-menu {
      display: none;
    }
  }
  
  
  @media screen and (min-width: 1158px) {
    .conteiner {
      width: 1158px;
    }
  }