@import url(./media.css);

.conteiner {
  padding-left: 15px;
  padding-right: 12px;
}

/* змінні */

:root {
  --paragraph-primary-color: #434455;
  --title-primary-color: #2e2f42;
  --title-secondary-color: #ffffff;
  --brand-color: #4d5ae5;
  --background-primary-color: #ffffff;
  --nav-link-color: #2e2f42;
  --contacts-link-color: #434455;
  --link-hover-color: #4d5ae5;
  --byn-background-color: #f4f4fd;
}

/* скидаємо глобальні стилі */

body {
  background-color: var(--background-primary-color);
  color: var(--background-primary-color);
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}
.no-decoration {
  text-decoration: none;
}
.link-no-decoration {
  text-decoration: none;
}
.nav-link-no-decoration {
  text-decoration: none;
}
.portfolio-link {
  text-decoration: none;
}

.nav-link-no-decoration {
  text-decoration: none;
}

/* скидаємо верхні і нижні зовнішні відступи */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*контейнер */

/* .conteiner {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
} */

/* ховаємо заголовки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
/* 0-1158px */
/* @media screen and (max-width:1158px) {
  
} */

/* 0-767px */
.nav-list {
  display: none;
}

.contacts {
  display: none;
}
.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 32px;
}

.header-conteiner {
  background-color: #fff;
}

.hero__sections {
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-image: -webkit-image-set(
    url("../images/imagesindex/hero-mobile.webp") 1x,
    url("../images/imagesindex/hero-mobile_2x.webp") 2x
  );
}

.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .sections {
  max-width: 1440px;
  margin: 0 auto;
} 

.header-conteiner {
  display: flex;
  justify-content: space-between;
} */

/* logo */

 .page-header {
  margin-bottom: 0;
}

.logo {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--title-primary-color);
} 

/* підкреслюємо лого */

/* .nav-link.no-decoration::after {
  content: "";

  display: block;
  width: 100%;
  height: 4px;
  background-color: #4D5AE5;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.no-decoration {
  position: relative;
}

.nav-link.no-decoration:hover::after {
  opacity: 1;
} */

/* Navigation */

 /* .nav-list {
  display: flex;
 } */
 
.nav-item {
  margin-right: 40px;
 }

.nav-link {
  color: var(--nav-link-color);
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.contacts-link {
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--contacts-link-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--link-hover-color);
}

.nav-item {
  color: #2E2F42;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.02em;
} 

.nav-item:not(:last-child) {
  margin-right: 40px;
 }


  

/* contacts */
/* 
.contacts  {
  display: flex; 
  align-items: center;
}

 .contacts-item {
  margin-left: 40px;

}

.contacts-item:first-child {
  margin-left: 0;
}


.nav {
  display: flex;
  align-items: center;
} */

/*відступ між лого та студіо */

/* .nav-list {
  margin-left: 77px;
}

/* Hero */

/* .hero {
background: #2E2F42;
padding-top: 192px;
text-align: center;
background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/people-office.jpg);
background-size: auto;
background-repeat: no-repeat;
background-position: center;
}   */

/* box-shadow */
/* 
.hero-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, 
.hero-btn:focus {
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
background-color: #404BBF;
}*/

.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--title-secondary-color);
  margin-top: 0;
  width: 492px; 
  text-align: center;
  margin: 0 auto 48px auto; 
}
/*
.hero-btn {
  background-color: var(--brand-color);
  font-family: inherit;
  font-weight: 600;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--title-secondary-color);
  cursor: pointer;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  margin-bottom: 188px;
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-primary-color);
} */

/* Features section*/

/* .features {
  padding-top: 120px;
} 

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: 264px;
}


 .features-list .item-title {
  margin-bottom: 8px;
  margin-top: 0px;
  flex-basis: calc((100% - 72px) / 4);
} 

.item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-primary-color); 
}

.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-primary-color);
} 


.icon-features {
  background-color: #F4F4FD;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  
} */

/* Works section*/
/* 
.section-title {
    margin-bottom: 72px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0; 
}


.works-list {
  flex-basis: calc((100% - 48px)/3);
}

.works-list {
  display: flex;
}  */

/* Team section */

/* .section {
  padding-bottom: 120px;
}  

.section-team {
  padding-top: 120px;
  background: #F4F4FD;
}

 .title-front {
  margin-bottom: 8px;
}

.teams {
  display: flex;
  gap: 24px; 
}
 .teams .team-item {
  flex-basis: calc((100% - 72px) / 4);
}
.team-list .team-item {
  background-color: #FFFFFF;
}


.team-item {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);
}



.item-description {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  text-align: center;
} */

/* decoration icon */

/* Our Team */

/* .social-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 12px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #31D0AA;
} */

/* customers */

/* .customer-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customerss-icon {
  display: flex;
  gap: 24px;  
} 

.customers-li {
  width: 168px;
  height: 88px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}
  
.customers-use {
  border: 1px solid #8e8f99;
  height: 100%;
  width: 100%;
  fill: #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

 .customer-section .item-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-primary-color); 
   }

 .customers-use:hover,
 .customers-use:focus {
  color: #4d5ae5;
  border: 1px solid #4D5AE5;
  fill: currentColor;
 }   */

/* ======Portfolio======= */

.section-bnt {
  padding-top: 96px;
  padding-bottom: 120px;
  margin-top: auto;
}

.portfolio-filter-bnt {
  background-color: var(--byn-background-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-bnt:hover,
.portfolio-filter-btn:focus {
  background-color: var(--brand-color);
  color: var(--background-primary-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-filter-bnt {
  padding-top: 12px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 12px;
  margin-bottom: 0;
}

.portfolio-filter-item {
  margin-right: 24px;
}

.portfolio-filter-item:last-child {
  margin-right: 0;
}

.text-background {
  color: var(--background-primary-color);
}

.portfolio-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  border: none;
}

.portfolio-list > .portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-list .item-decoration {
  margin-bottom: 8px;
}

.portfolio-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

/* технокряк */

.overlay {
  min-width: 360px;
  position: absolute;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  left: 0;
  top: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  background-color: #4d5ae5;

  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio-item:hover .overlay {
  transform: translate(0, 0);
}

.portfolio-link:focus .overlay {
  transform: translate(0, 0);
}

/* Footer */

.footer {
  background-color: var(--title-primary-color);
  padding: 100px 0;
}
.logo-footer {
  color: var(--background-primary-color);
}

.footer .logo {
  margin-bottom: 188px;
}

.footer-desc {
  width: 264px;
  margin-top: 16px;
}

/* footer decoration */

.footer .conteiner {
  display: flex;
}
.footer-icon-div {
  width: 208px;
  height: 80px;
  margin-left: 120px;
}

.footer-icon-text {
  letter-spacing: 0.02em;
  line-height: 24px;
  margin-bottom: 16px;
}

.footer-social {
  display: flex;
  gap: 16px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

/* div class mailing */

.mailing-form {
  display: flex;
  justify-content: space-between;
}

.mailing-title {
  margin-bottom: 16px;
  margin-left: 80px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.mailing-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 24px;
  margin-left: 80px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.mailing-input:hover,
.mailing-input:focus {
  border: 1px solid rgba(77, 90, 229, 1);
}

.mailing-btn {
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 56px;

  background-color: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
}

.icon-send {
  margin-left: 16px;
  fill: rgba(255, 255, 255, 1);
}

/* model window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  width: 408px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: rgba(252, 252, 252, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 72px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
}

.modal-clouse-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clouse-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clouse-btn:hover,
.modal-clouse-btn:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-clouse-btn:hover .modal-clouse-btn-icon,
.modal-clouse-btn:focus .modal-clouse-btn-icon {
  fill: #000000;
}

/* modal-form */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  font-weight: 500;
  margin-bottom: 14px;
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 4px;
  color: #8e8f99;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-left: 38px;
  padding-bottom: 8px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: rgba(77, 90, 229, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}

.modal-form-input-icon {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: rgba(77, 90, 229, 1);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  color: rgba(117, 117, 117, 1);
  font-size: 12px;
  width: 400px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.privat-form {
  text-decoration: none;
  color: rgba(77, 90, 229, 1);
}

.modal-form-check-desc::before {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
  content: '';
  border-radius: 4px;
  margin-right: 20px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: rgba(77, 90, 229, 1);
  background-image: url(../images/vectorsuper.svg);
  background-position: center;
  border: 1px solid rgba(77, 90, 229, 1);
}

.modal-form-submit {
  align-self: center;
  width: 169px;
  height: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #404bbf;
  color: #ffffff;
}
